<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Student Management</title>
    <link rel="stylesheet" href="{% static 'student/css/bootstrap.css' %}">
</head>
<body>
    <div class="container mt-5">
        <h2 class="text-center alert alert-danger">Function CRUD based on student management</h2>
        {% block content%} {% endblock content%}
    </div>
    <script src="{% static 'student/js/jquery.js' %}"></script>
    <script src="{% static 'student/js/bootstrap.js' %}"></script>
    <script src="{% static 'student/js/popper.js' %}"></script>
</body>
</html>